<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>breytilegir_dagar</key>
	<array>
		<dict>
			<key>date</key>
			<date>2024-02-03T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Vetrarvertíð hefst</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-02-12T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Bolludagur</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-02-13T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Sprengidagur</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-02-14T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Öskudagur</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-03-20T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Vorjafndægur</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-03-24T00:00:00Z</date>
			<key>holiday</key>
			<true/>
			<key>name</key>
			<string>Pálmasunnudagur</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-03-24T00:00:00Z</date>
			<key>holiday</key>
			<true/>
			<key>name</key>
			<string>Dymbilvika hefst</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-03-28T00:00:00Z</date>
			<key>holiday</key>
			<true/>
			<key>name</key>
			<string>Skírdagur</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-03-29T00:00:00Z</date>
			<key>holiday</key>
			<true/>
			<key>name</key>
			<string>Föstudagurinn langi</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-04-01T00:00:00Z</date>
			<key>holiday</key>
			<true/>
			<key>name</key>
			<string>Annar í páskum</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-05-09T00:00:00Z</date>
			<key>holiday</key>
			<true/>
			<key>name</key>
			<string>Uppstigningardagur</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-05-11T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Vetrarvertíð lýkur</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-05-19T00:00:00Z</date>
			<key>holiday</key>
			<true/>
			<key>name</key>
			<string>Hvítasunnudagur</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-05-20T00:00:00Z</date>
			<key>holiday</key>
			<true/>
			<key>name</key>
			<string>Annar í hvítasunnu</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-06-20T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Sumarsólstöður</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-09-22T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Haustjafndægur</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-12-21T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Vetrarsólstöður</string>
		</dict>
        <dict>
            <key>date</key>
            <date>2024-01-26T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Bóndadagur</string>
        </dict>
        <dict>
            <key>date</key>
            <date>2024-01-26T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Miður vetur</string>
        </dict>
        <dict>
            <key>date</key>
            <date>2024-01-26T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Þorri hefst</string>
        </dict>
        <dict>
            <key>date</key>
            <date>2024-02-24T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Þorraþræll</string>
        </dict>
        <dict>
            <key>date</key>
            <date>2024-02-25T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Góa hefst</string>
        </dict>
        <dict>
            <key>date</key>
            <date>2024-02-25T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Konudagur</string>
        </dict>
        <dict>
            <key>date</key>
            <date>2024-03-03T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Æskulýðsdagurinn</string>
        </dict>
        <dict>
            <key>date</key>
            <date>2024-03-25T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Góuþræll</string>
        </dict>
        <dict>
            <key>date</key>
            <date>2024-03-26T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Einmánuður hefst</string>
        </dict>
        <dict>
            <key>date</key>
            <date>2024-03-31T00:00:00Z</date>
            <key>holiday</key>
            <true/>
            <key>name</key>
            <string>Páskadagur</string>
        </dict>
        <dict>
            <key>date</key>
            <date>2024-04-24T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Síðasti vetrardagur</string>
        </dict>
        <dict>
            <key>date</key>
            <date>2024-04-25T00:00:00Z</date>
            <key>holiday</key>
            <true/>
            <key>name</key>
            <string>Sumardagurinn fyrsti</string>
        </dict>
        <dict>
            <key>date</key>
            <date>2024-04-25T00:00:00Z</date>
            <key>holiday</key>
            <true/>
            <key>name</key>
            <string>Harpa hefst</string>
        </dict>
        <dict>
            <key>date</key>
            <date>2024-04-26T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Kóngsbænadagur</string>
        </dict>
        <dict>
            <key>date</key>
            <date>2024-05-12T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Mæðradagurinn</string>
        </dict>
        <dict>
            <key>date</key>
            <date>2024-05-12T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Vorvertíð hefst</string>
        </dict>
        <dict>
            <key>date</key>
            <date>2024-05-25T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Skerpla hefst</string>
        </dict>
                <dict>
            <key>date</key>
            <date>2024-06-02T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Sjómannadagurinn</string>
        </dict>
        <dict>
            <key>date</key>
            <date>2024-06-06T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Fardagar hefjast</string>
        </dict>
                <dict>
            <key>date</key>
            <date>2024-06-08T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Medardusdagur</string>
        </dict>
                <dict>
            <key>date</key>
            <date>2024-06-24T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Sólmánuður hefst</string>
        </dict>
                <dict>
            <key>date</key>
            <date>2024-07-21T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Skálholtshátíð</string>
        </dict>
                <dict>
            <key>date</key>
            <date>2024-07-24T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Aukanætur</string>
        </dict>
                <dict>
            <key>date</key>
            <date>2024-07-28T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Heyannir hefjast</string>
        </dict>
                <dict>
            <key>date</key>
            <date>2024-07-28T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Miðsumar</string>
        </dict>
                <dict>
            <key>date</key>
            <date>2024-08-04T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Verslunarmannahelgi</string>
        </dict>
        <dict>
            <key>date</key>
            <date>2024-08-05T00:00:00Z</date>
            <key>holiday</key>
            <true/>
            <key>name</key>
            <string>Frídagur verslunarmanna</string>
        </dict>
                <dict>
            <key>date</key>
            <date>2024-08-10T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Gleðigangan</string>
        </dict>
                <dict>
            <key>date</key>
            <date>2024-08-18T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Hólahátíð</string>
        </dict>
                <dict>
            <key>date</key>
            <date>2024-08-24T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Menningarnótt í Reykjavík</string>
        </dict>
                <dict>
            <key>date</key>
            <date>2024-08-27T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Tvímánuður hefst</string>
        </dict>
                <dict>
            <key>date</key>
            <date>2024-09-12T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Réttir hefjast</string>
        </dict>
                <dict>
            <key>date</key>
            <date>2024-09-26T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Haustmánuður hefst</string>
        </dict>
                <dict>
            <key>date</key>
            <date>2024-10-26T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Gormánuður hefst</string>
        </dict>
                <dict>
            <key>date</key>
            <date>2024-10-26T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Fyrsti vetrardagur</string>
        </dict>
                <dict>
            <key>date</key>
            <date>2024-11-10T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Feðradagurinn</string>
        </dict>
                <dict>
            <key>date</key>
            <date>2024-12-01T00:00:00Z</date>
            <key>holiday</key>
            <true/>
            <key>name</key>
            <string>1. sunnudagur í aðventu</string>
        </dict>
                <dict>
            <key>date</key>
            <date>2024-11-25T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>Ýlir hefst</string>
        </dict>
                <dict>
            <key>date</key>
            <date>2024-12-08T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>2. sunnudagur í aðventu</string>
        </dict>
                <dict>
            <key>date</key>
            <date>2024-12-15T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>3. sunnudagur í aðventu</string>
        </dict>
                <dict>
            <key>date</key>
            <date>2024-12-22T00:00:00Z</date>
            <key>holiday</key>
            <false/>
            <key>name</key>
            <string>4. sunnudagur í aðventu</string>
        </dict>
	</array>
	<key>fastir_dagar</key>
	<array>
		<dict>
			<key>date</key>
			<date>2024-01-01T00:00:00Z</date>
			<key>holiday</key>
			<true/>
			<key>name</key>
			<string>Nýársdagur</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2025-01-01T00:00:00Z</date>
			<key>holiday</key>
			<true/>
			<key>name</key>
			<string>Áttidagur</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-01-06T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Þrettándinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-01-13T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Geisladagur</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-01-25T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>34. afmælisdagur Fanneyjar 💝</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-02-02T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóðlegur dagur votlendis</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-02-02T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Kyndilmessa</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-02-04T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóðlegi krabbameinsdagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-02-14T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Dagur elskenda</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-02-21T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóðlegi móðurmálsdagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-03-01T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Bjórdagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-03-08T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóðlegur baráttudagur kvenna</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-03-09T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Riddaradagur</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-03-16T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Gvendardagur</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-03-17T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Geirþrúðardagur</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-03-20T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóða hamingjudagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-03-21T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóðadagur Down heilkennis</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-04-02T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóðadagur vitundar um einhverfu</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-04-05T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>33. afmælisdagur Bergþórs</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-04-07T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>63. afmælisdagur Þrastar</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-04-07T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóða heilbrigðisdagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-04-22T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóðadagur móður jarðar</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-04-25T00:00:00Z</date>
			<key>holiday</key>
			<true/>
			<key>name</key>
			<string>Dagur umhverfisins</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-04-30T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóða djassdagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-05-01T00:00:00Z</date>
			<key>holiday</key>
			<true/>
			<key>name</key>
			<string>Verkalýðsdagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-05-03T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóðadagur fjölmiðlafrelsis</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-05-03T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Krossmessa á vori</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-05-04T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóðlegi Star Wars dagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-05-10T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Eldaskildagi</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-05-11T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Lokadagur</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-05-14T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Vinnuhjúaskildagi</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-05-15T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóða fjölskyldudagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-05-25T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>59. afmælisdagur Áslaugar</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-05-29T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Dagur barnsins</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-05-31T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóða tóbakslausi dagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-06-05T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóða umhverfisdagurinn</string>
		</dict>


		<dict>
			<key>date</key>
			<date>2024-06-12T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóðadagur gegn barnavinnu</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-06-14T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóða blóðgjafadagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-06-15T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóðadagur gegn illri meðferð eldra fólks</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-06-17T00:00:00Z</date>
			<key>holiday</key>
			<true/>
			<key>name</key>
			<string>Jón Sigurðsson</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-06-17T00:00:00Z</date>
			<key>holiday</key>
			<true/>
			<key>name</key>
			<string>Þjóðhátíðardagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-06-19T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Kvenréttindadagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-06-20T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóða flóttamannadagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-06-23T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Jónsmessunótt</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-06-23T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Vorvertíð lýkur</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-06-24T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Jónsdagur</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-06-24T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Jónsmessa</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-06-26T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Guðni Th. Jóhannesson</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-06-27T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Sjösofendadagur</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-07-13T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Hundadagar byrja</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-07-18T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Nelsons Mandela-dagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-07-20T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Þorláksmessa á sumri</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-07-30T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóða vináttudagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-08-01T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Bandadagur</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-08-12T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóða æskudagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-08-19T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóða mannúðardagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-08-23T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Hundadagar enda</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-08-29T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Höfuðdagur</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-09-05T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóða góðgerðadagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-09-08T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóðadagur læsis</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-09-10T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóðadagur gegn sjálfsvígum</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-09-15T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóða lýðræðisdagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-09-16T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Dagur íslenskrar náttúru</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-09-21T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóða friðardagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-09-29T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Haustvertíð hefst</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-10-01T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóðadagur aldraðra</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-10-06T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Eldadagur</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-10-10T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóða geðheilbrigðisdagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-10-11T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóðadagur stúlkubarna</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-10-15T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóðadagur dreifbýliskvenna</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-10-24T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Dagur Sameinuðuþjóðanna</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-10-24T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Kvennafrídagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-10-31T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Hrekkjavaka</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-11-01T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Allra heilagra messa</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-11-02T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Allra sálna messa</string>
		</dict>

		<dict>
			<key>date</key>
			<date>2024-11-16T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Dagur íslenskrar tungu</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-11-16T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Jónas Hallgrímsson</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-11-19T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóða salernisdagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-11-20T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóða barnadagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-12-01T00:00:00Z</date>
			<key>holiday</key>
			<true/>
			<key>name</key>
			<string>Fullveldisdagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-12-02T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóðadagur afnáms þrælahalds</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-12-03T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóðadagur fatlaðra</string>
		</dict>

		<dict>
			<key>date</key>
			<date>2024-12-09T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóðadagur gegn spillingu</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-12-10T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Alþjóða mannréttindadagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-12-11T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Stekkjastaur kemur til byggða í nótt</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-12-12T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Giljagaur kemur til byggða í nótt</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-12-13T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Stúfur kemur til byggða í nótt</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-12-14T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Þvörusleikir kemur til byggða í nótt</string>
		</dict>

		<dict>
			<key>date</key>
			<date>2024-12-15T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Pottasleikir kemur til byggða í nótt</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-12-16T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Askasleikir kemur til byggða í nótt</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-12-17T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Hurðaskellir kemur til byggða í nótt</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-12-18T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Skyrgámur kemur til byggða í nótt</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-12-19T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Bjúgnakrækir kemur til byggða í nótt</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-12-20T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Gluggagægir kemur til byggða í nótt</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-12-21T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Gáttaþefur kemur til byggða í nótt</string>
		</dict>

		<dict>
			<key>date</key>
			<date>2024-12-22T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Ketkrókur kemur til byggða í nótt</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-12-23T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Kertasníkir kemur til byggða í nótt</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-12-23T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Þorláksmessa</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-12-24T00:00:00Z</date>
			<key>holiday</key>
			<true/>
			<key>name</key>
			<string>Aðfangadagur jóla</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-12-24T00:00:00Z</date>
			<key>holiday</key>
			<true/>
			<key>name</key>
			<string>Jólanótt</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-12-25T00:00:00Z</date>
			<key>holiday</key>
			<true/>
			<key>name</key>
			<string>Jóladagur</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-12-26T00:00:00Z</date>
			<key>holiday</key>
			<true/>
			<key>name</key>
			<string>Annar í jólum</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-12-28T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Barnadagurinn</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2024-12-31T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Gamlársdagur</string>
		</dict>
		<dict>
			<key>date</key>
			<date>2023-12-31T00:00:00Z</date>
			<key>holiday</key>
			<false/>
			<key>name</key>
			<string>Nýársnótt</string>
		</dict>
	</array>
</dict>
</plist>
