<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <array>
      <dict>
         <key>date</key>
         <date>2023-12-31T00:00:00Z</date>
         <key>name</key>
         <string>Gamlársdagur
Nýársnótt</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-01-01T00:00:00Z</date>
         <key>name</key>
         <string>1. vika
Nýársdagur
Áttidagur</string>
         <key>holiday</key>
         <true />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-01-06T00:00:00Z</date>
         <key>name</key>
         <string>Þrettándinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-01-08T00:00:00Z</date>
         <key>name</key>
         <string>2. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-01-13T00:00:00Z</date>
         <key>name</key>
         <string>Geisladagur</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-01-15T00:00:00Z</date>
         <key>name</key>
         <string>3. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-01-22T00:00:00Z</date>
         <key>name</key>
         <string>4. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-01-25T00:00:00Z</date>
         <key>name</key>
         <string>32. afmælisdagur Fanneyjar &#x1f49d;</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-01-26T00:00:00Z</date>
         <key>name</key>
         <string>Bóndadagur
Miður vetur
Þorri hefst</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-01-29T00:00:00Z</date>
         <key>name</key>
         <string>5. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-02-02T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóðlegur dagur votlendis
Kyndilmessa</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-02-03T00:00:00Z</date>
         <key>name</key>
         <string>Vetrarvertíð hefst</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-02-04T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóðlegi krabbameinsdagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-02-05T00:00:00Z</date>
         <key>name</key>
         <string>6. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-02-12T00:00:00Z</date>
         <key>name</key>
         <string>7. vika
Bolludagur</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-02-13T00:00:00Z</date>
         <key>name</key>
         <string>Sprengidagur</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-02-14T00:00:00Z</date>
         <key>name</key>
         <string>Öskudagur
Dagur elskenda</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-02-19T00:00:00Z</date>
         <key>name</key>
         <string>8. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-02-21T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóðlegi móðurmálsdagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-02-24T00:00:00Z</date>
         <key>name</key>
         <string>Þorraþræll</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-02-25T00:00:00Z</date>
         <key>name</key>
         <string>Konudagur
Góa hefst</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-02-26T00:00:00Z</date>
         <key>name</key>
         <string>9. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-03-01T00:00:00Z</date>
         <key>name</key>
         <string>Bjórdagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-03-03T00:00:00Z</date>
         <key>name</key>
         <string>Æskulýðsdagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-03-04T00:00:00Z</date>
         <key>name</key>
         <string>10. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-03-08T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóðlegur baráttudagur kvenna</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-03-09T00:00:00Z</date>
         <key>name</key>
         <string>Riddaradagur</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-03-11T00:00:00Z</date>
         <key>name</key>
         <string>11. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-03-16T00:00:00Z</date>
         <key>name</key>
         <string>Gvendardagur</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-03-17T00:00:00Z</date>
         <key>name</key>
         <string>Geirþrúðardagur</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-03-18T00:00:00Z</date>
         <key>name</key>
         <string>12. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-03-20T00:00:00Z</date>
         <key>name</key>
         <string>Vorjafndægur
Alþjóða hamingjudagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-03-21T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóðadagur Down heilkennis</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-03-24T00:00:00Z</date>
         <key>name</key>
         <string>Pálmasunnudagur
Dymbilvika hefst</string>
         <key>holiday</key>
         <true />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-03-25T00:00:00Z</date>
         <key>name</key>
         <string>13. vika
Góuþræll</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-03-26T00:00:00Z</date>
         <key>name</key>
         <string>Einmánuður hefst</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-03-28T00:00:00Z</date>
         <key>name</key>
         <string>Skírdagur</string>
         <key>holiday</key>
         <true />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-03-29T00:00:00Z</date>
         <key>name</key>
         <string>Föstudagurinn langi</string>
         <key>holiday</key>
         <true />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-03-31T00:00:00Z</date>
         <key>name</key>
         <string>Páskadagur</string>
         <key>holiday</key>
         <true />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-04-01T00:00:00Z</date>
         <key>name</key>
         <string>14. vika
Annar í páskum</string>
         <key>holiday</key>
         <true />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-04-02T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóðadagur vitundar um einhverfu</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-04-05T00:00:00Z</date>
         <key>name</key>
         <string>30. afmælisdagur Bergþórs</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-04-07T00:00:00Z</date>
         <key>name</key>
         <string>60. afmælisdagur Þrastar
Alþjóða heilbrigðisdagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-04-08T00:00:00Z</date>
         <key>name</key>
         <string>15. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-04-15T00:00:00Z</date>
         <key>name</key>
         <string>16. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-04-22T00:00:00Z</date>
         <key>name</key>
         <string>17. vika
Alþjóðadagur móður jarðar</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-04-24T00:00:00Z</date>
         <key>name</key>
         <string>Síðasti vetrardagur</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-04-25T00:00:00Z</date>
         <key>name</key>
         <string>Sumardagurinn fyrsti
Harpa hefst
Dagur umhverfisins</string>
         <key>holiday</key>
         <true />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-04-26T00:00:00Z</date>
         <key>name</key>
         <string>Kóngsbænadagur</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-04-29T00:00:00Z</date>
         <key>name</key>
         <string>18. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-04-30T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóða djassdagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-05-01T00:00:00Z</date>
         <key>name</key>
         <string>Verkalýðsdagurinn</string>
         <key>holiday</key>
         <true />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-05-03T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóðadagur fjölmiðlafrelsis
Krossmessa á vori</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-05-04T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóðlegi Star Wars dagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-05-06T00:00:00Z</date>
         <key>name</key>
         <string>19. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-05-09T00:00:00Z</date>
         <key>name</key>
         <string>Uppstigningardagur</string>
         <key>holiday</key>
         <true />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-05-10T00:00:00Z</date>
         <key>name</key>
         <string>Eldaskildagi</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-05-11T00:00:00Z</date>
         <key>name</key>
         <string>Lokadagur
Vetrarvertíð lýkur</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-05-12T00:00:00Z</date>
         <key>name</key>
         <string>Mæðradagurinn
Vorvertíð hefst</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-05-13T00:00:00Z</date>
         <key>name</key>
         <string>20. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-05-14T00:00:00Z</date>
         <key>name</key>
         <string>Vinnuhjúaskildagi</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-05-15T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóða fjölskyldudagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-05-19T00:00:00Z</date>
         <key>name</key>
         <string>Hvítasunnudagur</string>
         <key>holiday</key>
         <true />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-05-20T00:00:00Z</date>
         <key>name</key>
         <string>21. vika
Annar í hvítasunnu</string>
         <key>holiday</key>
         <true />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-05-25T00:00:00Z</date>
         <key>name</key>
         <string>59. afmælisdagur Áslaugar
Skerpla hefst</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-05-27T00:00:00Z</date>
         <key>name</key>
         <string>22. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-05-29T00:00:00Z</date>
         <key>name</key>
         <string>Dagur barnsins</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-05-31T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóða tóbakslausi dagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-06-02T00:00:00Z</date>
         <key>name</key>
         <string>Sjómannadagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-06-03T00:00:00Z</date>
         <key>name</key>
         <string>23. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-06-05T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóða umhverfisdagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-06-06T00:00:00Z</date>
         <key>name</key>
         <string>Fardagar hefjast</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-06-08T00:00:00Z</date>
         <key>name</key>
         <string>Medardusdagur</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-06-10T00:00:00Z</date>
         <key>name</key>
         <string>24. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-06-12T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóðadagur gegn barnavinnu</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-06-14T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóða blóðgjafadagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-06-15T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóðadagur gegn illri meðferð eldra fólks</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-06-17T00:00:00Z</date>
         <key>name</key>
         <string>25. vika
Þjóðhátíðardagurinn
Jón Sigurðsson</string>
         <key>holiday</key>
         <true />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-06-19T00:00:00Z</date>
         <key>name</key>
         <string>Kvenréttindadagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-06-20T00:00:00Z</date>
         <key>name</key>
         <string>Sumarsólstöður
Alþjóða flóttamannadagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-06-23T00:00:00Z</date>
         <key>name</key>
         <string>Jónsmessunótt
Vorvertíð lýkur</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-06-24T00:00:00Z</date>
         <key>name</key>
         <string>26. vika
Jónsmessa
Jónsdagur
Sólmánuður hefst</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-06-26T00:00:00Z</date>
         <key>name</key>
         <string>Guðni Th. Jóhannesson</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-06-27T00:00:00Z</date>
         <key>name</key>
         <string>Sjösofendadagur</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-07-01T00:00:00Z</date>
         <key>name</key>
         <string>27. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-07-08T00:00:00Z</date>
         <key>name</key>
         <string>28. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-07-13T00:00:00Z</date>
         <key>name</key>
         <string>Hundadagar byrja</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-07-15T00:00:00Z</date>
         <key>name</key>
         <string>29. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-07-18T00:00:00Z</date>
         <key>name</key>
         <string>Nelsons Mandela-dagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-07-20T00:00:00Z</date>
         <key>name</key>
         <string>Þorláksmessa á sumri</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-07-21T00:00:00Z</date>
         <key>name</key>
         <string>Skálholtshátíð</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-07-22T00:00:00Z</date>
         <key>name</key>
         <string>30. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-07-24T00:00:00Z</date>
         <key>name</key>
         <string>Aukanætur</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-07-28T00:00:00Z</date>
         <key>name</key>
         <string>Heyannir hefjast
Miðsumar</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-07-29T00:00:00Z</date>
         <key>name</key>
         <string>31. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-07-30T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóða vináttudagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-08-01T00:00:00Z</date>
         <key>name</key>
         <string>Bandadagur</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-08-04T00:00:00Z</date>
         <key>name</key>
         <string>Verslunarmannahelgi</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-08-05T00:00:00Z</date>
         <key>name</key>
         <string>32. vika
Frídagur verslunarmanna</string>
         <key>holiday</key>
         <true />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-08-10T00:00:00Z</date>
         <key>name</key>
         <string>Gleðigangan</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-08-12T00:00:00Z</date>
         <key>name</key>
         <string>33. vika
Alþjóða æskudagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-08-18T00:00:00Z</date>
         <key>name</key>
         <string>Hólahátíð</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-08-19T00:00:00Z</date>
         <key>name</key>
         <string>34. vika
Alþjóða mannúðardagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-08-23T00:00:00Z</date>
         <key>name</key>
         <string>Hundadagar enda</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-08-24T00:00:00Z</date>
         <key>name</key>
         <string>Menningarnótt í Reykjavík</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-08-26T00:00:00Z</date>
         <key>name</key>
         <string>35. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-08-27T00:00:00Z</date>
         <key>name</key>
         <string>Tvímánuður hefst</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-08-29T00:00:00Z</date>
         <key>name</key>
         <string>Höfuðdagur</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-09-02T00:00:00Z</date>
         <key>name</key>
         <string>36. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-09-05T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóða góðgerðadagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-09-08T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóðadagur læsis</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-09-09T00:00:00Z</date>
         <key>name</key>
         <string>37. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-09-10T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóðadagur gegn sjálfsvígum</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-09-12T00:00:00Z</date>
         <key>name</key>
         <string>Réttir hefjast</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-09-15T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóða lýðræðisdagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-09-16T00:00:00Z</date>
         <key>name</key>
         <string>38. vika
Dagur íslenskrar náttúru</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-09-21T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóða friðardagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-09-22T00:00:00Z</date>
         <key>name</key>
         <string>Haustjafndægur</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-09-23T00:00:00Z</date>
         <key>name</key>
         <string>39. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-09-26T00:00:00Z</date>
         <key>name</key>
         <string>Haustmánuður hefst</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-09-29T00:00:00Z</date>
         <key>name</key>
         <string>Haustvertíð hefst</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-09-30T00:00:00Z</date>
         <key>name</key>
         <string>40. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-10-01T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóðadagur aldraðra</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-10-06T00:00:00Z</date>
         <key>name</key>
         <string>Eldadagur</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-10-07T00:00:00Z</date>
         <key>name</key>
         <string>41. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-10-10T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóða geðheilbrigðisdagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-10-11T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóðadagur stúlkubarna</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-10-14T00:00:00Z</date>
         <key>name</key>
         <string>42. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-10-15T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóðadagur dreifbýliskvenna</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-10-21T00:00:00Z</date>
         <key>name</key>
         <string>43. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-10-24T00:00:00Z</date>
         <key>name</key>
         <string>Kvennafrídagurinn
Dagur Sameinuðuþjóðanna</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-10-26T00:00:00Z</date>
         <key>name</key>
         <string>Fyrsti vetrardagur
Gormánuður hefst</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-10-28T00:00:00Z</date>
         <key>name</key>
         <string>44. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-10-31T00:00:00Z</date>
         <key>name</key>
         <string>Hrekkjavaka</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-11-01T00:00:00Z</date>
         <key>name</key>
         <string>Allra heilagra messa</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-11-02T00:00:00Z</date>
         <key>name</key>
         <string>Allra sálna messa</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-11-04T00:00:00Z</date>
         <key>name</key>
         <string>45. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-11-10T00:00:00Z</date>
         <key>name</key>
         <string>Feðradagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-11-11T00:00:00Z</date>
         <key>name</key>
         <string>46. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-11-16T00:00:00Z</date>
         <key>name</key>
         <string>Dagur íslenskrar tungu
Jónas Hallgrímsson</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-11-18T00:00:00Z</date>
         <key>name</key>
         <string>47. vika</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-11-19T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóða salernisdagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-11-20T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóða barnadagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-11-25T00:00:00Z</date>
         <key>name</key>
         <string>48. vika
Ýlir hefst</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-12-01T00:00:00Z</date>
         <key>name</key>
         <string>Fullveldisdagurinn
1. sunnudagur í aðventu</string>
         <key>holiday</key>
         <true />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-12-02T00:00:00Z</date>
         <key>name</key>
         <string>49. vika
Alþjóðadagur afnáms þrælahalds</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-12-03T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóðadagur fatlaðra</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-12-08T00:00:00Z</date>
         <key>name</key>
         <string>2. sunnudagur í aðventu</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-12-09T00:00:00Z</date>
         <key>name</key>
         <string>50. vika
Alþjóðadagur gegn spillingu</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-12-10T00:00:00Z</date>
         <key>name</key>
         <string>Alþjóða mannréttindadagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-12-11T00:00:00Z</date>
         <key>name</key>
         <string>Stekkjastaur kemur til byggða í nótt</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-12-12T00:00:00Z</date>
         <key>name</key>
         <string>Giljagaur kemur til byggða í nótt</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-12-13T00:00:00Z</date>
         <key>name</key>
         <string>Stúfur kemur til byggða í nótt</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-12-14T00:00:00Z</date>
         <key>name</key>
         <string>Þvörusleikir kemur til byggða í nótt</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-12-15T00:00:00Z</date>
         <key>name</key>
         <string>3. sunnudagur í aðventu
Pottasleikir kemur til byggða í nótt</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-12-16T00:00:00Z</date>
         <key>name</key>
         <string>51. vika
Askasleikir kemur til byggða í nótt</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-12-17T00:00:00Z</date>
         <key>name</key>
         <string>Hurðaskellir kemur til byggða í nótt</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-12-18T00:00:00Z</date>
         <key>name</key>
         <string>Skyrgámur kemur til byggða í nótt</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-12-19T00:00:00Z</date>
         <key>name</key>
         <string>Bjúgnakrækir kemur til byggða í nótt</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-12-20T00:00:00Z</date>
         <key>name</key>
         <string>Gluggagægir kemur til byggða í nótt</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-12-21T00:00:00Z</date>
         <key>name</key>
         <string>Vetrarsólstöður
Gáttaþefur kemur til byggða í nótt</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-12-22T00:00:00Z</date>
         <key>name</key>
         <string>4. sunnudagur í aðventu
Ketkrókur kemur til byggða í nótt</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-12-23T00:00:00Z</date>
         <key>name</key>
         <string>52. vika
Þorláksmessa
Kertasníkir kemur til byggða í nótt</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-12-24T00:00:00Z</date>
         <key>name</key>
         <string>Aðfangadagur jóla
Jólanótt</string>
         <key>holiday</key>
         <true />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-12-25T00:00:00Z</date>
         <key>name</key>
         <string>Jóladagur</string>
         <key>holiday</key>
         <true />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-12-26T00:00:00Z</date>
         <key>name</key>
         <string>Annar í jólum</string>
         <key>holiday</key>
         <true />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-12-28T00:00:00Z</date>
         <key>name</key>
         <string>Barnadagurinn</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-12-30T00:00:00Z</date>
         <key>name</key>
         <string>1. vika 2025</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2024-12-31T00:00:00Z</date>
         <key>name</key>
         <string>Gamlársdagur
Nýársnótt</string>
         <key>holiday</key>
         <false />
      </dict>
      <dict>
         <key>date</key>
         <date>2025-01-01T00:00:00Z</date>
         <key>name</key>
         <string>Nýársdagur
Áttidagur</string>
         <key>holiday</key>
         <true />
      </dict>
            <dict>
         <key>date</key>
         <date>2025-08-29T00:00:00Z</date>
         <key>name</key>
         <string>Nýársdagur
Áttidagur</string>
         <key>holiday</key>
         <true />
      </dict>
         <dict>
         <key>date</key>
         <date>2025-08-29T00:00:00Z</date>
         <key>name</key>
         <string>Nýársdagur
Áttidagur</string>
         <key>holiday</key>
         <true />
      </dict>

   </array>
</plist>
